<html>
  <head>
    <title>CV imen chadded
    </title>
  </head>
  <body>
    <style></style>
    <img src="https://media.licdn.com/dms/image/C4D03AQGtqxOHJZztSQ/profile-displayphoto-shrink_800_800/0/1660934605691?e=1702512000&v=beta&t=oHfG-ulH4fVkQhVDm2MD-cBU6NBsnqUGn4qWtySxNLo" alt = "imgimen" > 
    <h1> CV IMEN CHADDED </h1>

    <h2> CONSULTANT BSCS </h2>
    <h2> Formation </h2>
    <p> Etudiante en ESPITA 2023_2024</p>
    <h3>Billcom consulting </h3>
    <P> j'ai une expérience en BSCS environnement en Billcom consulting </P>
  </body>
</html>